.dialog-enriched {

    > div > div {
        width: 512px !important;
    }

    .field {
        display: block !important;
        margin-bottom: 20px;
    }

    h3 {
        background-color: #673AB7;
        color: white !important;
        text-align: center;
    }

    .center-text {
        text-align: center;
    }

    .extended-attributes {
        clear: both;
    }
}

table.enriched-data {
    color: #333;
    border: 0;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    tr:nth-child(odd) {
        background: lighten(#673AB7, 50%);
    }
    tr:first-child {
        background: lighten(#673AB7, 25%);
        color: white;
    }
    th {
        text-align: left;
    }
    td, th {
        padding: .5em;
        
        &:first-child {
            font-weight: bold;
            width: 33%;
        }

        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}