.dialog-create {

    .field{
        display: block !important;
        margin-bottom: 20px;
    }

    .center-text {
        text-align: center;
    }

 /*   .box {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }

    .left {
        float: left;
    }
    .right {
        float: right;
    }*/

    .extended-attributes {
        clear: both;
    }

    .chips-container{
        clear: both;
        .user {
            margin-right: 5px !important;
            margin-bottom: 6px !important;
            float: left;
        }
    }
}
