.dialog-create {
    .field{
        display: block !important;
        margin-bottom: 20px;
    }

    .box {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }

    .left {
        float: left;
    }
    .right {
        float: right;
    }
}
