.dialog-create {

    .field {
        display: block !important;
        margin-bottom: 20px;
    }

    h3 {
        background-color: #1565c0;
        color: white !important;
        text-align: center;
    }

    .center-text {
        text-align: center;
    }

    .extended-attributes {
        clear: both;
    }

    .chips-container{
        clear: both;
        .user {
            margin-right: 5px !important;
            margin-bottom: 6px !important;
            float: left;
        }
    }
}
