.chips-container {
    clear: both;

    h1 {
        margin: 0;
    }

    .add-users {
        float: left;
        margin-right: 5px !important;

        input:invalid {
            color: red !important;
        }
    }

    .users {
        max-height: 170px;
        clear: both;
        overflow-y: scroll;
    }
}