.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 15px;
    transition: all 3s linear;

    &.marked {
        background-color: #f7d87c;
    }

    strong {
        text-decoration: underline;
    }

    p {
        flex-grow: 1;
        width: 700px;
        padding-right:20px;
    }

    li {
        margin-bottom: 7px;
    }

    .search-input {
        flex-grow: 2;
    }
}

.btn-add-feature {
    position: absolute;
    right: 100px;
    top: 70px;
    z-index: 10;
}