html,
body {
    padding: 0;
    margin: 0;
}
.features > div {
     margin: 0 auto;
}


.standard-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 130%;
}

.description {
    text-overflow: clip;
}

.history {
    display: flex;
    justify-content: space-around;

    small {
        width: 33%;
    }
}

.percentage {
    font-size: 21px;
    line-height: 150%;
}

.description-tooltip {
  cursor: pointer;
}


.highlight {
    font-size: 17px;
    line-height: 100%;
    text-decoration: underline;
    font-weight: 600;
    color: #ff2617;
}