body {
    background-color: #303030;
}

.btn-add-feature {
    position: absolute;
    right: 30px;
    top: 30px;
}

.logo {
    width: 300px;
    margin: 30px;
}

.rollouts {

    .num {
        width: 30px;
    }

    .name {
        width: 220px;
    }

    .headlines {
        th {
            font-weight: 600 !important;
            font-size: 13px !important;
        }
    }
    .description {
        white-space: pre-line !important;
        width: 120px;
    }

    .percentage {
        font-size: 20px;
        text-align: center;
    }
}

.history {
    display: flex;
    justify-content: space-around;

    small {
        width: 33%;
    }
}

.description-tooltip {
  cursor: pointer;
}

.filter {
    margin-bottom: 40px;
}