html,
body {
    padding: 0;
    margin: 0;
}

.btn-add-feature {
    position: absolute;
    right: 30px;
    top: 30px;
}

.logo {
    width: 300px;
    margin: 30px;
}

.features > div {
     margin: 0 auto;
}


.standard-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 130%;
}

.description {
    text-overflow: clip;
}

.history {
    display: flex;
    justify-content: space-around;

    small {
        width: 33%;
    }
}

.percentage {
    font-size: 21px;
    line-height: 150%;
}

.description-tooltip {
  cursor: pointer;
}
